
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.regreso img {
    width: 15px;
    height: 15px;
}

.regreso {
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-color:rgba(0, 0, 0, 0.523);
    border-radius: 10px;
    border-style: dashed;
    cursor: pointer;

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.person {
    width: 30%;
    height: 500px;
    padding: 20px;
    background-color: #ede6db;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  

.imgg img{
    max-width: 25%;
    border-radius: 50%;

}

.meme img{
    padding-top: 40px;
    width: 400px;
    height: 200px;
    padding-left: 10px;
}
.meme1 img{
    padding-top: 40px;
    width: 400px;
    height: 200px;
    padding-left: 10px;
}
.meme2 img{
    padding-top: 40px;
    width: 400px;
    height: 200px;
    padding-left: 10px;
}

h1 {
    padding-right: 150px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}