{% load static %}
<!DOCTYPE html>
<html>
<head>  
    <title>ERROR</title>
    <link rel="stylesheet" href="../../../static/css/StyleNosotros.css">
    <link rel="stylesheet" href="../../../static/css/StyleModi.css">
</head>

    <header>
        <br>
        <a href="/">
            <button class="regreso">
                <img src="../../../static/img/reversa.png">
                Volver al inicio
            </button>
        </a>
    </header>    

<body class="fondito" background="../../../static/img/Gaviotas.jpg">


    <link rel="stylesheet" href="../../../static/css/Eroor.css">


    <h1 class="Error1">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    <h1 class="Error2">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    <h1 class="Error2">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    <h1 class="Error2">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    <h1 class="Error2">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    <h1 class="Error2">
        ERROR 404, PAGINA NO ENCONTRADA
    </h1>
    
    
</body>
</html>