<html>
<head>
    <header>
        <div class="title">
            <br>
            <h1> ¿Hay algún modismo que no entiendas? </h1>
        </div>
</header>
<body class="fondito" background="../../../static/img/estrellitas.jpg">
<link rel="stylesheet" href="../../../static/css/StyleModi.css">


    {% for palabra, definicion, filtro in diccionario_palabras%}

        {% if "Acción" in filtro %}
            <h2 style="color:white">{{palabra}}:  {{definicion}}  </h2>
        {% endif %}
    {%endfor%}

</body>
</head>
</html>