<html>
<head>
    <style type="text/css">

        .title{
            font-size: 30px;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            margin: auto;
            max-width: 900px;
            line-height: 250%;
        }
    </style>
</head>
<header>
    <div class="title">
        <br>
        <h1> ¿Hay    alguna palabra o modismo que no entiendas?</h1>
    </div>

</header>
<body class="fondito" background="../../../static/img/estrellitas.jpg">
    {% for palabra, definicion in diccionario.items %}
        <h2 style="color:white">{{palabra}}:  {{definicion}} </h2>
        
    {%endfor%}

</body>
</html>