{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>  Chilenos</title>
</head>
<body>
    <p> 
        
        <br>
        <h1> PROHIBIDO BORRAR LA GAVIOTA DE LOS ARCHIVOS!! </h1>
    
        <img src="../../../static/img/Gaviota.jpeg" align="right" width="350" height="350"/>
        </p>
    <a href="/mapa/"> Mapa Universidad </a><br>
    <a href="/"> Página principal </a>

    
    <h1>
        Lista de los modismos más comunes:
</h1>
<h2>Achacarse: Desanimarse, entristecerse.</h2><br>
<h2>Achuntar - Acertar, estar en lo correcto.</h2><br><h2>A lapa - Subirse a los hombros de otra persona.</h2><br>
<h2>Al lote - Desordenado, sin orden, sin reglas.</h2><br><h2>Al tiro - De inmediato.</h2><br>
<h2>Al toque - Hacer algo de manera inmediata.</h2><br><h2>Andar pato - No tener dinero.</h2><br>
<h2>Apañar - Apoyar a alguien.</h2><br><h2>Apestarse - Aburrirse, amargarse, enojarse, disgustarse.</h2><br>
<h2>Aperrar - Ser valiente, ser perseverante.</h2><br><h2>Apitutado - Alguien que tiene buenos contactos y consigue beneficios por ello.</h2><br>
<h2>Apretado - Avaro, tacaño, egoísta, que no presta dinero.</h2><br><h2>Atao - Problema.</h2><br>
<h2>Avispado - Inteligente, ágil, alguien audaz.</h2><br><h2>Bacán - Increíble, excelente, espectacular, bueno.</h2><br>
<h1>Hay que dejar bonito esto</h1>
<br><br><br>

</body>
</html>