{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <title>Modismos Chilenos</title>
</head>
<body>

    
    <h1>
        Lista de los modismos más comunes:
</h1>
<h2>conchetumare: </h2><br><h2>puta la wea:</h2>
<a href="/mapa"> Mapa Universidad </a><br>
<a href="/"> Página principal </a>
<br><br><br>

<p> 
        
        <br>
        <h1> PROHIBIDO BORRAR LA GAVIOTA DE LOS ARCHIVOS!! </h1>
   
        <img src="../../../static/img/Gaviota.jpeg" width="500" height="500"/>
    </p>
</body>
</html>