<html>
<head>
    <style>
        header {text-align: right}
        h1 {text-align: center; font-size: 60px; color: white; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif;}
        body {background-repeat: no-repeat; background-size: cover;}
        h3 {text-align: center; color: white; margin: auto; max-width: 700px;}
        footer {text-align: center;}
    </style>
<header>
    <a>
        <button class="btn primary">Registrarse</button>
        <button class="btn primary">Iniciar sesión</button></a>
    
</header>
<body background="../../../static/img/purple.jpg">
    <br><br><br>
    <h1>Welcome to Searchgull!</h1><br>
    <br><br><br>
    <h3>¿Estás perdido? ¿Eres nuevo en la Universidad o, quizás en el país? ¡No te preocupes más! Searchgull va a ser tu mejor aliado a la hora de poder conseguir una guía sencilla y útil sobre tu centro de estudios, ¡Buena suerte, aventurero!</h3><br>
    <br><br><br><br><br><br>

</body>
<footer>
    <button class="btn primary"> ¿De qué se trata Searchgull? </button>
    <button class="btn primary">Nuestros objetivos</button>
    <button class="btn primary">Sobre nosotros</button>
</footer>
</head>
</html>