<html>
<head>

<body class="fondo" background="../../../static/img/fondoo.jpg">
<link rel="stylesheet" href="../../../static/css/StyleIndex.css">
    <header>
        <br>
        <div class="logo">
            <img src="../../../static/img/Gaviota.jpeg">
            <h1> Searchgull </h1>
        </div>
        &nbsp;&nbsp;
        <a href="mapa/">
            <button class="map">Mapa</button>
        </a>
        &nbsp;&nbsp;
    </header>
    
    <br><br><br>
    <div class="title">
        <h1>Welcome to</h1>
        <h1> Searchgull!</h1><br>
    </div>

    <br>

    <div class="bienvenida">
    <h3>¿Estás perdido? ¿Eres nuevo en la Universidad o, quizás en el país? ¡No te preocupes más! Searchgull va a ser tu mejor aliado a la hora de poder conseguir una guía sencilla y útil sobre tu centro de estudios, ¡Buena suerte, aventurero!</h3><br>
    </div>
    <br><br><br><br><br><br>

</body>
<footer>
    <a class="button" href="integrantes/">¿De qué se trata Searchgull?</a>
    <a class="button" href="objetivos/">Nuestros objetivos</a>
    <a class="button" href="sobre_nosotros/">Sobre nosotros</a>

</head>
</html>