<!DOCTYPE html>
<html>
<head>  
    <title>SearchGull</title>
    <link rel="stylesheet" href="../../../static/css/StyleIntegrantes.css">
</head>
<header>
    <br>
    <a href="/">
        <button class="regreso">
            <img src="../../../static/img/reversa.png">
            Volver al inicio
        </button>
    </a>
</header>


<body class="fondito" background="../../../static/img/fondoo.jpg">
    <link rel="stylesheet" href="../../../static/css/StyleIntegran.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">

    <br>
    <h1 class="titulo"> ¿Quiénes somos? </h1>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="presentacion">
            <figure>
                <img src="../../static/img/pergamino.jpg">
            </figure>
            <div class="name">
                <h3> Gaviota </h3>
            </div>

            <figure>
                <img src="../../static/img/Gaviota.jpeg">
            </figure>
            <div class="datos">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus hic porro iure optio placeat laborum autem harum dignissimos dicta iste veniam, officiis ullam aperiam nisi dolorem veritatis et voluptatum ad.</p>
            </div>
        </div>

        <div class="presentacion">
            <figure>
                <img src="../../static/img/pergamino.jpg">
            </figure>
            <div class="name">
                <h3> Gaviota </h3>
            </div>

            <figure>
                <img src="../../static/img/uni.jpeg">
            </figure>
            <div class="datos">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus hic porro iure optio placeat laborum autem harum dignissimos dicta iste veniam, officiis ullam aperiam nisi dolorem veritatis et voluptatum ad.</p>
            </div>
        </div>

        <div class="presentacion">
            <figure>
                <img src="../../static/img/pergamino.jpg">
            </figure>
            <div class="name">
                <h3> Gaviota </h3>
            </div>
            
            <figure>
                <img src="../../static/img/cat.jpg">
            </figure>
            <div class="datos">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus hic porro iure optio placeat laborum autem harum dignissimos dicta iste veniam, officiis ullam aperiam nisi dolorem veritatis et voluptatum ad.</p>
            </div>
        </div>
    </div>

    



</body>
</html>