<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descripción de Personas</title>
</head>
<body background="../../../static/img/fondoo.jpg">
<link rel="stylesheet" href="../../../static/css/StyleNosot.css">

  <header>
    <br>
      <a href="/">
          <button class="regreso">
              <img src="../../../static/img/reversa.png">
              Volver al inicio
          </button>
      </a>
    <h1>Sobre Nosotros</h1>
    <br>
  </header>
  <br>
  <br>
  <div class="container">
    <div class="person">
      <div class="imgg">
        <img class="img" src="../../../static/img/PIXELES.jpg" alt="Persona 1">
      </div>
      <br>
      <h2>FER</h2>
      <br>
      <p>Fanática de Five Nights at Freddy's y dueña orgullosa de un gato adorable.</p>
      <br>

      <div class="meme">
        <img src="../../../static/img/BEBE.gif" >
      </div>
    </div>

    <div class="person">
      <div class="imgg">
        <img class="img" src="../../../static/img/FOKINGENIO.jpg" alt="Persona 1">
      </div>
      <br>
      <h2>SAMI</h2>
      <br>
      <p>Jugadora apasionada de ultimate frisbee y amante de los animales.</p>
      <br>

      <div class="meme2">
        <img src="../../../static/img/monkey-monkey-running.gif" >
      </div>
      
    </div>

    <div class="person">
      <div class="imgg">
        <img class="img" src="../../../static/img/Gaviota.jpeg" alt="Persona 1">
      </div>
      <br>
      <h2>Jaime</h2>
      <br>
      <p> Amante de los juegos en la computadora y devorador de pollo de KFC.</p>
      <br><br>

      <div class="meme1">
        <img src="../../../static/img/zorro.gif" >
      </div>
     
    </div>
  </div>

</body>
</html>