{% load static %}
<!DOCTYPE html>
<html>
<head>  
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../../../static/css/StyleNosotros.css">
</head>

    <button class="btn1"><a href="/mapa/">Mapa Universidad</a></button>
    <button class="btn2"><a href="/modismos/">Modismos Chilenos</a></a></button>
    <header>
        <br>
        <a href="/">
            <button class="regreso">
                <img src="../../../static/img/reversa.png">
                Volver al inicio
            </button>
        </a>
    </header>    

<body class="fondito" background="../../../static/img/fondoo.jpg">
    <link rel="stylesheet" href="../../../static/css/StyleModi.css">

    <h1>
        <u>¿Quiénes somos?</u>
</h1>
<br>
<br>
<h2>Hola, el equipo de searchgull esta formado por 4 integrantes detrás de una visión en común. </h2>
<br>
<h2>Samira Estay</h2>
<h2>Fernanda Vicencio</h2>
<h2>Jaime Inostroza</h2>
<h2>Bastian González</h2>
<br>
<hr>
<br>

<h6><u>¿Que buscamos lograr?</u></h6>
<br>
<h4>Nuestra intención siempre ha sido generar una ayuda a las personas que llegan a la región por motivos de estudios personales a la Universidad,
    <br>
    para que asi tengan muy claro lo que ocurre en entornos y la ubicación de ciertos puntos claves e imporantes.
    <br>
    En nuestra página podrás encontrar diferentes tipos de ayuda, 
    <br>
    desde el mapa el cual sirve para orientarse en la Universidad como fuera de esta.
    <br>
 


</h4>


<br>
 
        
        
<h5> Perdonenme, no borré la gaviota <3!</h5>
<img src="../../../static/img/Gaviota.jpeg" width="400" height="400"/>
<img src="../../../static/img/uni.jpeg" width="370" height="250"/>

</body>
</html>