{% load static %}
<!DOCTYPE html>
<html>
<head>
   
    <title>Página principal</title>
</head>
<body>

    
    <h1>
        Página proyecto introducción a la ingeniería
</h1>
<h2>
    Cabros ayudenme a hacer la página

</h2>
<h2>Jaime Inostroza</h2>
<h2>Samira Estay </h2>
<h2>Fernanda Vicencio</h2>
<h2>Bastian Gonzalez</h2>

<li><a href="/mapa/"> Mapa Universidad </a></li>
<li><a href="/modismos/"> Modismos Chilenos </a></li>
<form>
    <label for="duda">  Preguntas?? </label>
    <br>
    <input type=""    id="NO" name="cosa" placeholder="duda" />
    <br>
</form>

<p> 
        
        <br>
        <h1> PROHIBIDO BORRAR LA GAVIOTAaaaaaaaa DE LOS ARCHIVOS! </h1>
   
        <img src="../../../static/img/Gaviota.jpeg" width="600" height="600"/>
    </p>
</body>
</html>